@media (max-width:992px) {
    .wsp-logo {
        font-size: 50px;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--background);
        border: 2px solid var(--secondary);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 20px;
        z-index: 2;
        display:none;
    }

    .navbar-list {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        cursor: pointer;
    }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }

    .card {
        width: 300px;
        height: 330px;
        padding: 10px 20px;
    }

    .info-card {
        width: 320px;
        height: 270px;
        padding: 15px 20px;
        font-size: 15px;
    }

    .info-card2 {
        width: 350px;
        height: 380px;
        padding: 20px 20px;
    }

    .info-card2 p {
        font-size: 15px;
    }


    .footer-texto, .footer-logo {
        display: none;
    }

}



@media (max-width:600px) {
    .wsp-logo {
        display: none;
    }

    .caja-portada h1 {
        font-size: 50px;
        text-align: center;
        max-width: 500px;
        min-width: unset;
    }
    

    .caja-portada {
        font-size: 60px;
        align-items: center;
    }

    .caja-portada p {
    text-align: center;
    }

    .info-portada h3 {
        font-size: 40px;
        text-align: center;
    }

    .info-portada p {
        font-size: 15px;
        text-align: center;
    }

}