@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --background: #ffffff;
    --secondary: #e9ecef;

    --text--gray:#7f7f7f;
    --text-black:#000000;

    --decoration:#d00000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style-type: none;
    /* border: 1px solid red; */
}

/* HEADER  */

html {
    scroll-behavior: smooth;
}

header {
    background: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 70px;
    padding: 0px 25px 0px 25px;
    position: fixed;
    top: 0;
}

.logo-icon {
    color: var(--decoration);
    font-size: 30px;
}

.navbar, .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 40px;
}

.navbar-list a {
    color: var(--text--gray);
    font-weight: 700;
}

.navbar-list li {
    position: relative;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.login-register {
    background: var(--secondary);
    color: var(--background);
    padding: 7px 8px;
    border-radius: 10px;
    text-align: center;
}

.login-register:hover {
    background: var(--background);
}


#menu-toggle, .menu-label {
    display: none;
}

/* FIN HEADER  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* PORTADA */
#portada {
    margin-top: 10%;
    padding: 130px 50px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 350px;
}


.caja-portada {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items:baseline;
}

.caja-portada h1 {
    font-size: 70px;
    font-weight: 700;
    width: 70%;
    min-width: 200px;
    text-align:left;
}

.underline {
    text-decoration: underline red;
    transition: 0.2s;
}

.underline:hover {
    text-decoration: underline var(--decoration);
}

.caja-portada p {
    font-size: 20px;
    width: 60%;
    color: var(--text--gray);
    font-weight: 600;
    text-align:left;
}

.caja-portada a {
    color: var(--background);
    background-color: var(--decoration);
    width: 250px;
    padding: 7px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.info-portada {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.info-portada h3 {
    font-size: 50px;
    text-align: right;
}

.info-portada p {
    font-size: 20px;
    width: 100%;
    color: var(--text--gray);
    font-weight: 600;
    text-align: right;
}

/* FIN PORTADA  */

/* CARDS  */

.conteiner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.card {
    width: 350px;
    height: 380px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    gap: 25px;
}   

.card img {
    width: 110%;
    border-radius: 10px;
}

.card h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.card p {
    font-size: 16px;
    font-weight: 600;
    color: var(--text--gray);
}

.conteiner .card {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.conteiner .card:hover {
    box-shadow: 0 12px 16px var(--text--gray);
}


/* FIN CARD  */

/* HERO  */

#hero {
    margin-top: 0px;
    padding: 80px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
}

.hero-info h2 {
    font-size: 50px;
    font-weight: 700;
    width: 90%;
    min-width: 100px;
    text-align: center;
    text-decoration: underline var(--decoration);
}

.hero-info p {
    font-size: 20px;
    width: 60%;
    color: var(--text--gray);
    font-weight: 600;
    text-align: center;
}

.hero-info a {
    color: var(--background);
    background-color: green;
    width: 300px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.hero-info a:hover {
    background: black;
    color: rgb(15, 185, 15);
    transition: all 0.3s ease;
}

/* FIN HERO  */

/* INFO  */

.info {
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.info-p {
    color: var(--background);
    background-color: var(--decoration);
    width: 250px;
    padding: 7px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.info h2 {
    font-size: 40px;
    font-weight: 600;
    width: 70%;
    text-align: center;
}

.info-cards-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 350px;
    height: 300px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;
}



.info-card {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
}

.info-card:hover {
    box-shadow: 0 15px 18px var(--text--gray);
}

.info-card img {
    width: 25%;
}

.info-card h3 {
    font-weight: 700;
}
 
.info-card p {
    font-weight: 400;
}

/* INFO 2  */

.info-card2 {
    width: 400px;
    height: 400px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;
}

.info-card2 img {
    width: 25%;
}

.info-card2 h3 {
    font-weight: 700;
}

.info-card2 p {
    font-weight: 400;
}

.info-card2 {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
}

.info-card2:hover {
    box-shadow: 0 15px 18px var(--text--gray);
}












/* CONTACTO  */

#contact {
    margin-top: 60px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: var(--background) ;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    align-items: center;
}

/* .contact:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
} */

.contact-info h2 {
    font-size: 50px;
    font-weight: 700;
    /* min-width: 500px;
    width: 80%; */
}

.contact-info p {
    font-weight: 400;
}

.contact-info span {
    font-weight: 700;
}

.mapa {
    border-radius: 10px;
    text-align: center;
}

.contact-info a {
    color: green;
}







/* FOOTER  */


footer {
    width: 100%;
    padding: 50px 0;
    background: #252422;
}

.footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    margin: auto;
}

.footer-caja {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.footer-caja .footer-logo i {
    font-size: 70px;
    color: var(--decoration);
}

.footer-caja .footer-texto {
    max-width: 350px;
    font-weight: 600;
    color: var(--text--gray);
    font-size: 18px;
}

.footer-caja h2 {
    margin-bottom: 20px;
    color:var(--background);
    font-weight: 700;
}

.footer-caja a {
    color: var(--secondary);
    font-weight: 500;
}

.footer-caja a:hover {
    opacity: 0.8;
}


.caja-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.caja-copyright p {
    margin-top: 20px;
    color: var(--background);
}

.caja-copyright hr {
    border: none;
    height: 1px;
    background: var(--decoration);
}

.caja-copyright span {
    font-weight: 700;
}

.logo-animation {
    transition: all 0.1s ease-out;
}

.logo-animation:hover {
    color: red;
    transition: all 0.1s ease-in;
    font-size: 31px;
}

.caja-portada a {
    transition: all 0.2s ease-out;
}

.caja-portada a:hover {
    background: red;
    transition: all 0.1s ease-in;
    padding: 9px 9px;
    font-size: 13;
}


/* WHATSAPP  */

.wsp-logo{
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1;
    font-size: 60px; 
    color: green;   
}